:root {
    font-size: 62.5%;

    --nav-bg: #040001CC;
    --accent-color: #6E0C0D;
    --secondary-accent: #136966;

    --primary-bg: #2b0e0e;
    --secondary-bg: #0d0707;
    --tertiary-bg: #d9d9d9;

    --white-text: #d9d9d9;

    --main-font: Urbanist, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
    background: #5D5A53;
    border-radius: 1rem;
}

body {
    font-family: var(--main-font);
    margin: 0;
    color: var(--white-text);
    font-size: 2.4rem;
    background: var(--primary-bg);
}

ul {
    list-style-position: inside;
}

.primary-bg {
    background: var(--primary-bg);
}

.secondary-bg {
    background: var(--secondary-bg);
    padding: 0.01rem 0;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--nav-bg);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.modal .modal-inner {
    transform: scale(0.7);
    transition: transform 0.6s;
}

.modal .modal-inner-gallery {

    overflow: hidden;
    position: relative;
}

.modal-inner-gallery #modal-close {
    top: 3rem;
    right: 3rem;
}

.modal-inner-gallery .modal-content img {
    max-height: 95vh;
    max-width: 95vw;
    object-fit: contain;
}

.modal.active .modal-inner {
    transform: scale(1);
}

.modal.active {
    display: flex;
    transform: scale(1);
}

.modal-inner {
    width: 50vw;
    height: 90vh;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

#modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6vh;
    right: 26vw;
    z-index: 100100;
    background: var(--nav-bg);
    border: none;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.modal-inner .modal-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal-inner .modal-content img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;


}


.modal-content p,
.modal-content h3 {
    padding: 1rem 5rem;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 10rem;
    font-weight: 300;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.over-nav {

    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: var(--secondary-bg);
    padding: 0 5% 0 50%;
    justify-content: space-between;
    align-items: center;
}

.over-nav-socials {
    display: flex;
    gap: 6rem;
}

#hamburger-icon {
    display: none;
}

nav {
    box-sizing: border-box;
    background: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    padding: 2.7rem 10rem;
    margin: 0;
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-logo {
    height: 7rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.nav-links {
    font-size: 4rem;
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: unset;
    position: relative;
    transition: 0.6s;
}

a:hover {
    transform: scale(1.1);

}

nav a {
    color: var(--white-text);
}

.button {
    padding: 2rem 4rem;
    margin: 0 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    transition: 0.3s;
    align-self: flex-end;
}

.button:hover {
    transform: scale(1.1);
}

.hero {
    box-sizing: border-box;
    height: calc(100vh - 17rem);
    justify-content: space-around;
    align-items: center;
}

.hero-text-lg {
    z-index: 10;
    color: #fff;
    text-align: center;

}

.hero-text-lg {
    font-size: 5.5rem;
    font-weight: 700;

}

.hero-sm-container {
    justify-content: center;
    width: 100%;
}

.hero-text-sm {
    font-size: 3.8rem;
    font-weight: 400;
    margin: 25rem 0;
    text-align: left;
    line-height: 6rem;
    max-width: 80%;

}

.hero-buttons {
    margin-top: 0rem;
    font-size: 3rem;
    font-weight: 400;
    z-index: 10;
}


.hero-buttons a:last-of-type {
    background: var(--nav-bg);
}

#hero-image,
#hero-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#hero-image-contact,
#hero-filter-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}

#hero-filter {
    z-index: -1;
    background: #06030494;

}

#hero-image {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    z-index: -2;
}

#hero-filter-contact {
    z-index: -1;
    background: #06030494;

}

#hero-image-contact {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    z-index: -2;
}


.card-3d {
    background: radial-gradient(92.68% 92.68% at 50.12% 0%, #7E3232 0%, #260C0C 100%);

}

.card-3d:after {
    content: "";
    border-radius: 5rem;
    width: 99%;
    height: 8rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    top: 100%;
    background: #1e02028C;
    z-index: -1;
    filter: blur(1rem);
}

.bold {
    font-weight: 700;
}

.about-card {
    position: relative;
    padding: 5rem;
    width: 50%;
}

.index-testimonials {
    padding: 10rem 0;
}

.index-about {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 0;
    margin: 25rem 0;

}

#index-about-img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 70%;
    z-index: -10;
    transform: translateY(-50%);
}

.index-about div {
    display: flex;
    position: relative;
    align-items: flex-start;
}

.index-about h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.index-about .button {
    position: absolute;
    bottom: 3.5rem;
}

.index-about img {
    object-fit: contain;
    width: 50rem;
    border-radius: 0.3rem;
}

.toolbox {
    font-size: 4rem;
    justify-content: space-between;
    padding: 10rem 0;
    margin: 0;
    box-shadow: inset 0px 0px 8px 4pxpx #000;
}

.toolbox .flex {
    justify-content: space-between;
}

.tool {
    text-align: center;
    margin: 0 3rem;
}


#service-image-bg {
    background: url("./images/index-service-background.jpg");
}

.gallery-bg {
    padding: 10rem 0;
    background: url("./images/gallery-bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    padding: 10rem 0;
}

.carousel {
    height: fit-content;
    align-items: center;

}

.carousel-testimonials {
    gap: 10%;
}

.carousel-transition {
    transition: transform 0.5s;
}

.carousel-object {
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}

.carousel-testimonials .carousel-object {
    width: 40%;
    margin: 10rem 0 0 5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
}


.carousel-logos .carousel-object {
    width: calc(100%);
    display: flex;
    justify-content: center;
}

.carousel-logos .carousel-object img {
    width: 40%;
}

.carousel-btn {
    top: 50%;
    position: absolute;
    background: none;
    border: none;
    padding: 3rem;
    color: var(--white-font);
    z-index: 10;
    cursor: pointer;
    font-size: 5rem;
}

.carousel-btn:active {
    transform: scale(1.1);
}

.testimonial-profile-pic {
    position: relative;
    transform: translate(-75%, -75%);
    height: 10rem;
    margin-bottom: -10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-rating {
    height: 3rem
}

.btn-prev {
    left: -2%;
}

.btn-next {
    right: -2%;
}

#review-logo-facebook {
    height: 2rem;
}

#review-logo-google {
    height: 2.7rem;
}

.review-summaries {
    align-items: flex-start;
    gap: 2rem;
}

.stars-reviews {
    font-size: 2rem;
}

.stars-reviews img {
    height: 2.5rem;
}

.red {
    color: var(--accent-color);
}

.green {
    color: var(--secondary-accent);
}

.image-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem;
    list-style: none;
}

.image-grid li {
    transform: translateX(0);
    border-radius: 3rem;
    font-weight: 200;
}

.image-grid li a {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 6rem;
    border-radius: 1rem;
}

.image-grid .gallery-image {
    border-radius: 0;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/ 1;
    cursor: pointer;
    transition: 0.6s;
}

.gallery-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-image img {
    object-fit: cover;
    max-width: 150%;
    max-height: 100%;
}

.index-services .image-grid {
    padding: 10rem 0;
}


.index-service-card-content {
    padding: 2rem;
}

.index-service-card {
    cursor: pointer;
    transition: transform 0.6s;
}

.index-service-card:hover {
    transform: scale(1.05);
}

.index-service-card a:hover {
    transform: none;
}


.index-service-card img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.modal-card .modal-main-text {
    display: none;
}

.index-services {
    position: relative;
    padding: 10rem 0;
}

.index-services .button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.index-services .button:hover {

    transform: translateX(-50%) scale(1.1);
}

.index-contact .tool p {
    font-size: 2.5rem;
}

.index-contact {
    margin: 0;
    padding-bottom: 0;
    color: #fff;
    align-items: center;
    background: var(--secondary-bg);
    padding: 10rem 0;
}

.index-contact h3 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

.index-contact .tool {
    align-items: center;

}

.index-contact-top {
    justify-content: space-around;
    margin: 10rem 0;
}

.index-contact-top img {
    height: 20rem;
}

.index-contact-socials {
    padding: 4rem 0;
    width: 50%;
    justify-content: space-between;
}

.index-contact .tool * {
    align-items: center;

}

.index-contact .tool img {
    margin: 2rem 4rem;
    width: 5rem;
}

.index-contact a {
    transition: 0.5s;
}

.index-contact iframe {
    width: 600px;
    height: 600px;
}


.index-contact a:hover {
    transform: scale(1.1);
}

.makers-mark {
    align-items: center;
}

.makers-mark p {
    margin: 0;
}

.link-with-chev:hover .link-chevron {
    transform: translateX(1rem);
}

.link-chevron {
    padding-left: 1rem;
    transition: 0.6s;
}



#services-hero h1 {
    font-size: 6.4rem;
}

#services-hero-el {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.services-category {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    width: 100%;
}

.services-category .container {
    box-sizing: border-box;
    justify-content: flex-end;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.services-img {
    position: relative;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    height: 100%;
    width: 45%;
}

#index-lorry-image {
    object-position: 50% 100%;
}

.services-category div h2 {
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}

.service-categories {
    margin: 0;
    position: relative;
    background: url("./images/services-bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.service-category-text {
    max-width: 50%;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 8rem 2rem;
}

.service-category-text .link-with-chev {
    align-self: flex-end;
    margin: 2rem 0;
    font-weight: 500;
}

.service-category-text .button {
    margin: 0;
}

.service-categories .services-category .flex .flex-column {
    flex-direction: column;
}

.services-category:nth-child(even) div {
    flex-direction: row-reverse;
}

.services-category:nth-child(even) .services-img {
    left: 100%;
    transform: translateX(-100%);
}

.gallery-image {}

.gallery-page-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 8rem 0;
}

.gallery-selector-chev {
    transform: scale(1.5);
    padding: 0 2rem;
}

.gallery-current-page {
    text-decoration: underline;
}

.prices-main {
    padding-bottom: 15rem;
    font-size: 4rem;
}

.prices-main hr {
    height: 0.2rem;
    background-color: var(--white-text);
}

.prices-main h3 {
    text-align: center;
    font-weight: 400;
}

.prices-bg {
    background: url("./images/prices-bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.price {
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    border-collapse: collapse;

}

.price th {
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;

}

.price th,
.price td {
    padding: 2rem;
}

.price td {
    font-weight: 300;
}


.price-head {
    margin: 0;
    padding-top: 25rem;
    font-weight: 500;
}

.price-asterisk {
    font-size: 2.5rem;
}

.price-note {
    font-size: 2rem;
    padding-left: 2rem;
}


.contact-container {
    background: radial-gradient(111.1% 90.85% at 50.04% 2.67%, #B32A2A 0%, #350C0C 100%);
    padding: 6rem 6rem;
    gap: 8rem;
}

.contact-container h2 {
    font-size: 4rem;
}

.contact-form-container {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.contact-form-container .index-contact-socials {
    align-self: center;
}

.contact-form {
    gap: 2rem;
}

.contact-form button {
    color: var(--white-text);
    font-size: 2rem;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem 2rem;
    font-size: 2rem;
    background: var(--tertiary-bg);
    font-family: var(--main-font);
    border: none;
}

.contact-buttons {
    font-size: 2rem;
    justify-content: flex-start;
    gap: 2rem;
}


.contact-buttons .flex img {
    margin: 2rem 4rem;
    width: 3.5rem;
}

.contact-buttons .flex {
    gap: 2rem;
}

.contact-map-container iframe {
    height: 800px;
}

.email-animation {
    height: 30rem;
    width: 40rem;
    position: relative;
    overflow: hidden;
}

.modal-inner-contact img {
    position: absolute;
}

.email-animation-main {
    top: 50%;
    left: 50%;
    height: 40%;
    transform: translate(-200%, -50%);

}

.email-animation-tick {
    top: 55%;
    left: 62%;
    height: 30%;
    transform: scale(0);

}

.email-animation-whizz {
    right: 73%;
    top: 30%;
    float: right;
    height: 30%;
    transform-origin: 100% 50%;
    transform: scaleX(0);

}

.modal.active .email-animation-main {
    transform: translate(-50%, -50%);
    transition-duration: 0.6s;
}

.modal.active .email-animation-tick,
.modal.active .email-animation-whizz {
    transform: none;
    transition-delay: 0.6s;
    transition-duration: 0.6s;
}

.modal-inner-contact {
    padding: 8rem;

    position: relative;
}

.modal-inner-contact .modal-content {
    align-items: center;
}

.modal-inner-contact #modal-close {
    right: 2rem;
    top: 2rem;
}

.modal-inner-contact .button {
    align-self: center;
    margin-top: 4rem;
}

.modal-inner-contact p {
    text-align: center;
    font-size: 4rem;
}

.modal-inner-contact hr {
    width: 100%;
}




@media only screen and (max-width: 1200px) {
    .over-nav {
        padding-left: 5%;
    }

    .modal-inner {
        width: 80vw;
    }

    #modal-close {
        right: 11vw;
    }

    nav {
        padding: 2rem 6rem;
    }

    .nav-logo {
        height: 6rem;
    }

    .nav-links {
        font-size: 2.5rem;
    }

    .hero {
        height: calc(100vh - 13.1rem);
    }

    h2 {
        font-size: 6rem;
    }

    .container {
        padding: 0 3rem;
    }

    .hero-text-lg {
        font-size: 4rem;
        padding: 0 2rem;
    }

    .hero-text-sm {
        font-size: 2.5rem;
    }

    .about-card {
        font-size: 1.6rem;
    }

    .carousel-testimonials {
        gap: 5rem;
    }

    .carousel-testimonials .carousel-object {
        width: calc(100% - 10rem);
    }

    .toolbox {
        font-size: 2.5rem;
    }

    .toolbox div {}

    .image-grid {
        grid-gap: 3rem;
    }


    .index-contact-main {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }

    .index-contact-top {
        flex-direction: column;
        align-items: center;
        gap: 10rem;
    }

    .map-contact-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .index-contact .toolbox {
        gap: 10rem;
    }

    .services-category {
        flex-direction: column;
        padding: 15rem 0;
    }

    .services-img {
        width: 100%;
    }

    .services-category .container {
        position: static;
        transform: none;

    }

    .service-category-text {
        max-width: unset;
    }

    .services-category:nth-child(even) .services-img {
        left: unset;
        transform: unset;
    }

    .price {
        font-size: 3rem;
    }

    .contact-container {
        padding: 4rem;

    }

}

@media only screen and (max-width: 768px) {
    :root {
        font-size: 40%;

        --hamburger-height: 4rem;
        --half-hamburger-height: calc(var(--hamburger-height) / 2);
        --negative-half-hamburger-height: calc(-1 * var(--half-hamburger-height));
        --hamburger-width: 6rem;
    }

    .nav-links,
    .over-nav {
        width: 50%;
        box-sizing: border-box;
        font-size: 4rem;
        position: fixed;
        justify-content: space-between;
        padding: 10rem 0;
        align-items: center;
        right: 0;
        background: var(--secondary-bg);
        overflow: hidden;
        transform: translateX(50%) scale(0, 1);

    }

    .nav-transition {
        transition: transform 0.6s;
    }

    .nav-links *,
    .over-nav>* {
        opacity: 0;
        transform: translateY(-20rem);


    }

    .nav-links.active *,
    .over-nav.active>* {
        opacity: 1;
        transition-delay: 0.7s;
        transition-duration: 0.7s;
        transform: none;
    }

    .nav-links {
        flex-direction: column;
        top: 0;
        height: 65%;
    }

    .over-nav {
        font-size: 2rem;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 8rem;
        bottom: 0;
        height: 35%;
        z-index: 111111;
    }

    .over-nav img {
        height: 2rem;
    }

    .over-nav-socials {
        gap: 4rem;
    }

    .nav-links.active,
    .over-nav.active {
        transform: translateX(0) scale(1, 1);
        transition: 0.3;
    }

    #hamburger-icon {
        display: unset;
        position: fixed;
        width: var(--hamburger-width);
        height: var(--hamburger-height);
        cursor: pointer;
        top: 2.5rem;
        right: 2.5rem;

    }

    #hamburger-icon div {
        background: #FFF;
        width: 100%;
        height: 4px;
        position: absolute;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2)
    }

    #hamburger-icon #line-1 {
        animation: line-1-rev 0.6s;
        top: 0;
    }

    #hamburger-icon #line-2 {
        animation: line-2-rev 0.6s;
        top: var(--half-hamburger-height);
    }

    #hamburger-icon #line-3 {
        animation: line-3-rev 0.6s;
        top: var(--hamburger-height);
    }

    #hamburger-icon.active #line-1 {
        transform: translate(0, var(--half-hamburger-height)) rotate(45deg);
        animation: line-1 0.6s;
    }

    #hamburger-icon.active #line-2 {
        transform: scale(0);
        animation: line-2 0.6s;
    }

    #hamburger-icon.active #line-3 {
        transform: translate(0, var(--negative-half-hamburger-height)) rotate(135deg);
        animation: line-3 0.6s;
    }

    .animation-off {
        -webkit-animation: none !important;
        animation: none !important;
    }

    @keyframes line-1 {
        from {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, var(--half-hamburger-height));
        }

        to {
            transform: translate(0, var(--half-hamburger-height)) rotate(45deg);
        }
    }

    @keyframes line-2 {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0)
        }
    }

    @keyframes line-3 {
        from {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, var(--negative-half-hamburger-height));
        }

        to {
            transform: translate(0, var(--negative-half-hamburger-height)) rotate(135deg);
        }
    }

    @keyframes line-1-rev {
        from {
            transform: translate(0, var(--half-hamburger-height)) rotate(45deg);
        }

        50% {
            transform: translate(0, var(--half-hamburger-height));
        }

        to {
            transform: translate(0, 0px);
        }
    }

    @keyframes line-2-rev {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes line-3-rev {
        from {
            transform: translate(0, var(--negative-half-hamburger-height)) rotate(135deg);
        }

        50% {
            transform: translate(0, var(--negative-half-hamburger-height));
        }

        to {
            transform: translate(0, 0px);
        }
    }

    section {
        margin: 2rem 0;
        padding: 10rem 0;
    }

    .modal-inner {
        width: 90vw;
    }

    #modal-close {
        right: 6vw;
        height: 7rem;
        width: 7rem;
    }

    .container {
        margin: 0rem 0;
        padding: 0;
    }

    .index-services .index-service-card {
        border-radius: unset;
    }

    h2 {
        font-size: 3rem;
    }

    .toolbox .flex {
        flex-direction: column;

    }

    .toolbox .tool {
        padding: 5rem 0;
    }

    .index-contact iframe {
        width: 300px;
        height: 300px;
    }

    .image-grid {
        padding: 0;
    }

    .price {
        font-size: 2rem;
    }

    .price-asterisk {
        font-size: 1rem;
    }

    .prices-note {
        font-size: 1rem;
        padding-left: 2rem;
    }

    .services-category {
        padding: 4rem 0;
    }

    .service-category-text .button {
        margin-top: 4rem;
        align-self: center;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    .contact-container .flex img {
        height: 2.5rem;
    }

    .contact-map-container iframe {
        height: 320px;
    }
}