:root {
    font-size: 62.5%;

    --nav-bg: #040001CC;
    --accent-color: #6E0C0D;
    --secondary-accent: #136966;

    --primary-bg: #2b0e0e;
    --secondary-bg: #0d0707;
    --tertiary-bg: #d9d9d9;

    --white-text: #fff;

    --main-font: Urbanist, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    font-family: var(--main-font);
    margin: 0;
    color: var(--white-text);
    font-size: 2.4rem;
    background: var(--primary-bg);
}

.primary-bg {
    background: var(--primary-bg);
}

.secondary-bg {
    background: var(--secondary-bg);
    padding: 0.01rem 0;
}

h2 {
    text-align: center;
    font-size: 10rem;
    font-weight: 300;
}

.container {
    max-width: 1300px;
    margin: auto;
}

section {
    margin: 25rem 0;
}

nav {
    box-sizing: border-box;
    background: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    padding: 2.7rem 10rem;
    margin: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-logo {
    height: 6rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.nav-links {
    font-size: 4rem;
    width: 60%;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: unset;

}

nav a {
    color: var(--white-text);
}

.button {
    padding: 2rem 4rem;
    margin: 0 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    transition: 0.3s;
    align-self: flex-end;
}

.button:hover {
    transform: scale(1.1);
}

.hero {
    box-sizing: border-box;

    height: 100vh;
    padding: 15vh 0;
    justify-content: space-around;
    align-items: center;
}

.hero-text-lg {
    z-index: 10;

    text-align: center;

}

.hero-text-lg {
    font-size: 5.5rem;
    font-weight: 700;

}

.hero-sm-container {
    justify-content: center;
    width: 100%;
}

.hero-text-sm {
    font-size: 3.8rem;
    font-weight: 400;
    margin: 25rem 0;
    text-align: left;
    line-height: 6rem;
    max-width: 80%;

}

.hero-buttons {
    margin-top: 0rem;
    font-size: 3rem;
    font-weight: 400;
    z-index: 10;
}


.hero-buttons a:last-of-type {
    background: var(--nav-bg);
}

#hero-image,
#hero-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#hero-filter {
    z-index: -1;
    background: #06030494;

}

#hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}


.card-3d {
    background: radial-gradient(92.68% 92.68% at 50.12% 0%, #7E3232 0%, #260C0C 100%);

}

.card-3d:after {
    content: "";
    border-radius: 5rem;
    width: 99%;
    height: 8rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    top: 100%;
    background: #1e02028C;
    z-index: -1;
    filter: blur(1rem);
}

.bold {
    font-weight: 700;
}

.about-card {
    position: relative;
    padding: 5rem;
    width: 50%;
}

.index-about {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 2rem;
    padding: 0;

}

#index-about-img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 70%;
    z-index: -10;
    transform: translateY(-50%);
}

.index-about div {
    display: flex;
    position: relative;
    align-items: flex-start;
}

.index-about h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.index-about .button {
    position: absolute;
    bottom: 3.5rem;
}

.index-about img {
    object-fit: contain;
    width: 50rem;
    border-radius: 0.3rem;
}

.toolbox {
    font-size: 4rem;
    justify-content: space-between;
    padding: 10rem 0;
    margin: 0;
    box-shadow: inset 0px 0px 8px 4pxpx #000;
}

.toolbox .flex {
    justify-content: space-between;
}

.tool {
    text-align: center;
    margin: 0 3rem;
}

.carousel-container {
    overflow: hidden;
    position: relative;
}

.carousel {
    height: fit-content;
    align-items: center;

}

.carousel-testimonials {
    gap: 10%;
}

.carousel-transition {
    transition: transform 0.5s;
}

.carousel-object {
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}

.carousel-testimonials .carousel-object {
    width: 40%;
    margin: 10rem 0 0 5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
}


.carousel-logos .carousel-object {
    width: calc(100%);
    display: flex;
    justify-content: center;
}

.carousel-logos .carousel-object img {
    width: 40%;
}

.carousel-btn {
    top: 50%;
    position: absolute;
    background: none;
    border: none;
    padding: 3rem;
    color: var(--white-font);
    z-index: 10;
    cursor: pointer;
    font-size: 5rem;
}

.carousel-btn:active {
    transform: scale(1.1);
}

.testimonial-profile-pic {
    position: relative;
    transform: translate(-75%, -75%);
    height: 10rem;
    margin-bottom: -10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-rating {
    height: 3rem
}

.btn-prev {
    left: -2%;
}

.btn-next {
    right: -2%;
}

.red {
    color: var(--accent-color);
}

.green {
    color: var(--secondary-accent);
}

.image-grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
    list-style: none;
}

.image-grid li {
    transform: translateX(0);
    border-radius: 3rem;
    font-weight: 200;
}

.image-grid li a {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 6rem;
    border-radius: 1rem;
}

.image-grid li a div {
    padding: 2rem;
}


.index-service-card img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.index-services {
    position: relative;
    padding: 10rem 0;
}

.index-services .button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.index-services .button:hover {

    transform: translateX(-50%) scale(1.1);
}

.index-contact .tool p {
    font-size: 2.5rem;
}

.index-contact {
    margin: 0;
    padding-bottom: 0;
    color: #000;
    align-items: center;
    background: var(--tertiary-bg);
    padding: 10rem 0;
}

.index-contact .tool {
    align-items: center;

}

.index-contact .tool * {
    align-items: center;

}

.index-contact .tool img {
    margin: 2rem 4rem;
    width: 8rem;
}

.index-contact a {
    transition: 0.5s;
}


.index-contact a:hover {
    transform: scale(1.1);
}


#services-hero h1 {
    font-size: 6.4rem;
}

#services-hero-el {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.services-category {
    background: linear-gradient(180deg, #220B0B 0%, #772A2A 100%);
    align-items: center;
    padding: 10rem 0;
    position: relative;
}

.services-category img {
    object-fit: cover;
    width: 45rem;
    height: 45rem;
    aspect-ratio: 1/1 !important;
    padding-right: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.services-category div h2 {
    font-size: 4rem;
    text-align: center;
}

.service-categories {
    margin: 0;
}

.service-categories .services-category .flex .flex-column {
    flex-direction: column;
}

.services-category:nth-child(even) div {
    flex-direction: row-reverse;    
}

.services-category:nth-child(even) div img {
    padding-left: 5rem;
    padding-right: 0;
}



@media only screen and (max-width: 1200px) {
    .hero-text-lg {
        font-size: 4rem;
    }

    .carousel-testimonials {
        gap: 5rem;
    }

    .carousel-testimonials .carousel-object {
        width: calc(100% - 10rem);
    }

    .toolbox {
        font-size: 2.5rem;
    }

}